<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <%= image_tag "creative/portfolio/ibcn2017.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                For Nagarathar
                            </div>
                            <div class="project-name">
                                IBCN2017
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <%= image_tag "creative/portfolio/idlidabba.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Food Ordering Solution
                            </div>
                            <div class="project-name">
                                Idli Dabba
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <%= image_tag "creative/portfolio/dvijaa.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Client project
                            </div>
                            <div class="project-name">
                                Dvijaa Garments
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <%= image_tag "creative/portfolio/jayam.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Client project
                            </div>
                            <div class="project-name">
                                Jayam Cement
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <%= image_tag "creative/portfolio/bib.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                For Altius
                            </div>
                            <div class="project-name">
                                Altius Product Catalog
                            </div>
                        </div>
                    </div>
                </a>
            </div>         
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <%= image_tag "creative/portfolio/24by7.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Client project
                            </div>
                            <div class="project-name">
                                24by7Digitizing
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>